body{
    background-image: url("bg.jpg");
    background-size: cover;
}
#output{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: rgb(16, 1, 60);
    position: absolute;
    top: 10rem;
    left: 15rem;
    font-weight: bold;
    color: red;
}
#navButtons{
   position: absolute;
   flex-wrap: wrap;
   top: 15rem;
   right: 0rem;
   width: 25%;
   height: 20rem;
   margin-left: 5%;
}
.edits{
    text-align: right;

}


.buttonHolder{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40rem;
    left: 25rem;
}
.controls{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(250, 240, 225);
    color: rgb(37, 140, 224);
}
.controls:hover{
    color: rgb(236, 236, 236);
    transition: 0.4s;
    background-color: rgb(30, 96, 36);
}
.options{
    font-size: 20px;
    padding-left: 15px;
    color: rgb(16, 1, 60);
}
.question{
    font-size: 25px;
    margin-bottom: 10px;
    color: teal;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 7rem;
    transform: scale(1.1, 1);
    color: #20546d;
    text-shadow:6px 6px 40px rgb(57, 130, 154);
    text-align: center;
    margin: 0rem;

}
.Qcontainer{
    margin: auto;
    margin-bottom: 30px;
    width: 65%;
    box-sizing: border-box;
    /* min-height: 22rem; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: rgb(250, 240, 225);
    box-shadow: 5px 5px 25px black;
    /* position: absolute;
    top: 15rem;
    left: 5rem; */
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1.5px solid black;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.opdiv{
    padding: 8px;
}
.navButton{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1.6rem;
    font-size: 1.5rem;
    padding: 0.4rem;
    margin: 0.3rem;
    color: teal;
    background-color: rgb(250, 240, 225);
}
.navButton:hover{

    background-color: rgb(255, 226, 182);
    background-color: rgb(255, 226, 182)!important;
    color: white;
}

.reviewButton{
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(250, 240, 225);
    color: rgb(37, 140, 224);
    position: absolute;
    top: 11rem;
    left: 4.5rem;
}
#parent{
    margin-right: 2%;
}