body{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(170deg,rgb(243, 247, 247),rgb(166, 239, 252) );
    font-weight: 700;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


#questionnumber{
    text-align: center;
}

#question{
    width: 100%;
    height: auto;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 17px;
}

#flex-1{
    border: 1px solid black;
    padding: 1%;
    color: white;
    background-image: linear-gradient(170deg, teal, rgb(85, 85, 231));
    border-radius: 5px;
}

#no_of_options{
    width: 10%;
    height:30px;
}

input{
    width: 40%;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 17px;
}

#correct{
    width: 10%;
    height: 30px;
}

#flex-2{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#done{
    margin-left: -200%;
    border: 1px solid white;
    font-size: 17px;
    padding: 5px;
    width: auto;
    height: 30px;
    color: white;
    background-color: teal;
    box-shadow: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#finish{
    width: auto;
    margin-left: 100%;
    border: 1px solid white;
    font-size: 17px;
    padding: 5px;
    height: 30px;
    color: white;
    background-color: teal;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

#preview{
    width: auto;
    border: 1px solid white;
    font-size: 17px;
    padding: 5px;
    height: 30px;
    color: white;
    background-color: teal;
    box-shadow: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#finish:hover,#done:hover,#preview:hover{
    background-color: rgb(75, 35, 187);
    color: white;
    transition: 0.5s;
}