.logo_title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom:-5%;
}

#title{
    font-size: 130px;
    font-family: 'Courier New', Courier,monospace;
}
h1{
    margin-top: 0px;
    font-size: 100px;
    color: rgb(3, 99, 99);
    text-align: center;
    text-shadow: 4px 4px 10px grey;
    font-family: Lucida Console;
}
h2{
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}
.Login{
    border-radius: 5px;
    border: 0.5px solid black;
    margin-left: 3%;
    padding: 20px;
    height: 336px;
    width: 33%;
    margin-right: 2%;
    background-color: teal;
    background-image: linear-gradient(170deg, teal, rgb(85, 85, 231));
    color: antiquewhite;
}
.SignUP{
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    height: 530px;
    width: 700px;
    background-color: teal;
    background-image: linear-gradient(170deg, teal, rgb(85, 85, 231));
    color: white;
    overflow-y: scroll;
    margin-top: 25px;
}
#Sign_up{
    width: 20%;
}
input{
    padding: 10px;
    margin: 10px;
    width: 77.5%;
    height: 45px;
    box-shadow: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
}
.SignUP input{
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}
button,#log{
    border: 1px solid white;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    width: 40%;
    height: 12.5%;
    color: white;
    border-radius: 20px;
    background-color: teal;
    box-shadow: none;
    cursor: pointer;
}
button:hover,#log:hover{
    background-color: rgb(177, 187, 35);
    color: white;
    transition: 0.5s;
}
#btnlogin{
    text-align: center;
}
#email,#password{
    text-align: center;
}
body{
   /* background-image: url("trianglify-lowres.png");*/
    background-size: cover;
    background-image: linear-gradient(170deg,rgb(166, 239, 252), rgb(243, 247, 247));
}
#bgm{
    margin-left: 1%;
    background-image: url("homeimage.jpg");
    background-size: cover;
    width: 500px;
    height: 380px;
    border-radius: 30px;
    margin-bottom: 35px;
    box-sizing: border-box;
}
.SignUP input{
    display: block;
}
.key{
    width: 400px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}