#logo{
  position: absolute;
  top: 2%;
  left: 19%;
}
#title{
    /*display: inline;*/
    font-size: 130px;
}
h1{
    margin-top: 0px;
    font-size: 100px;
    color: rgb(3, 99, 99);
    text-align: center;
    text-shadow: 4px 4px 10px grey;
    font-family: Lucida Console;
}
h2{
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}
.Login{
    border-radius: 10px;
    margin-left: 1%;
    float: left;
    padding: 20px;
    height: 336px;
    max-width: 500px;
    background-color: teal;
    background-image: linear-gradient(170deg, teal, rgb(85, 85, 231));
    color: antiquewhite;
    margin-bottom: 30px;
}
.SignUP{
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    height: 530px;
    width: 700px;
    background-color: teal;
    background-image: linear-gradient(170deg, teal, rgb(85, 85, 231));
    color: white;
    overflow-y: scroll;
    margin-top: 25px;
}
#Sign_up{
    width: 20%;
}
input{
    padding: 10px;
    margin: 10px;
    width: 77.5%;
    height: 1cm;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}
.SignUP input{
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}
button,#log{
    border: none;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    background-color: rgb(215, 250, 250);
    box-shadow: 4px 4px 5px black;
    cursor: pointer;
}
button:hover,#log:hover{
    background-color: green;
    color: white;
    transition: 0.5s;
}
#btnlogin{
    text-align: center;
}
#email,#password{
    text-align: center;
}
body{
    background-image: url("trianglify-lowres.png");
    background-size: cover;
}
#bgm{
    margin-left: 1%;
    background-image: url("homeimage.jpg");
    background-size: cover;
    width: 500px;
    height: 380px;
    border-radius: 30px;
    margin-bottom: 35px;
    box-sizing: border-box;
}
.SignUP input{
    display: block;
}
.key{
    width: 400px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}