body{
    margin: 0px;
}
.slideContainer{
    /* margin: auto; */
    width: 60%;
    height: 600px;
    position: relative;
    box-sizing: border-box;
    margin-left: 2%;
}
.caption{
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    opacity: 50%;
    font-size: 25px;
}
.slider{
    width: 100%;
    height: 100%;
    height: 380px;
    display: none;
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0.5px solid black;
}
.button{
    position: absolute;
    top: 30%;
    color: black;
    background-color: white;
    padding: 13px 20px; 
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    font-weight: 900;
}
.right{
    right: 10px;
}
.left{
    left: 10px;
}
